<section id="{{ slugify title }}">
	<div class="row">
		<div class="col-lg-12">
			<h1>{{ title }}</h1>
			{{#markdown}}{{ description }}{{/markdown}}
		</div>
	</div>
	<div class="row">
		{{#each fonts }}
		{{> font this }}
		{{/each}}
	</div>
	<div class="row">
		<div class="col-lg-12">
			<hr/>
		</div>
	</div>
</section>